body {
    background-color: cornflowerblue;
}

p{
    background-color: grey;
    color: #fff;
}

#selektor-po-id {
	color:yellowgreen;
}

.selektor-po-klasie {
    color:crimson;
}

#moniki p {
    color:green;
}

#moniki > p {
    color: bisque;
}
div#moniki >div >div >p {
    color: aqua;
    
} 
p#selektor-po-id ~ p {
    
    color:peru;
}
p#selektor-po-id + p {
    
    color:magenta;
}
