body{
    background-color: lightblue;
}

div{
    margin: 10px;
}
div#kontener{
    background-color: beige;
    padding: 10px;
}

div#kontener > div#pierwszy {
    background-color: chocolate;

}
div#kontener > div#drugi {
    background-color: lime;

}